@use "../../presets" as *;
@use "../../mixins" as *;

.form {
  padding: 30px 0;
  background-color: #2d3651;
  &__container {
    display: grid;

    @extend %container;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.form-item {
  display: block;
}
.form-item__input {
  display: block;
  width: 100%;
  height: 60px;
  padding-right: 30px;
  padding-left: 30px;
  transition: background-color 0.5s, border-color 0.5s;
  letter-spacing: 0.15em;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.05);

  font-size: 1.125rem;
  &:hover,
  &:focus {
    border-color: rgba(255, 255, 255, 0.15);
    border-bottom-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
    color: #ffffff;
  }
}
.form-item__input::placeholder {
  color: #637588;
}
.form-item__input:focus::placeholder,
.form-item__input:hover::placeholder {
    color: #8c9bab;
}

.form-item .btn--primary {
  width: 100%;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);

  &--primary {
    height: 60px;
    border-color: $color-primary;
    background-color: rgba($color-primary, 0.8);
    font-size: 1.125rem;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    border-color: #ffffff;
    background-color: #d66926;
  }
}

@media (max-width: 992px) {
  .form__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .form__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .form-item:nth-of-type(1) {
    grid-column: 1 / span 2;
  }
}

@media (max-width: 575.6px) {
  .form__container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
