@use "../../presets" as *;
@use "../../mixins" as *;
.posts h2 {
  margin-top: 0;
}

.posts {
  &__title {
    letter-spacing: 4px;

    font-size: 40px;
    line-height: 48px;
  }

  &__container {
    @extend %container;
  }

  &__grid {
    display: grid;

    padding-bottom: 20px;

    gap: $gap;
    grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 992px) {
  .posts {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .posts h2 {
    margin-top: 0;
    margin-bottom: 3rem;
  }
  .about__container {
    gap: 100px;
    grid-template-columns: 1fr 271px;
  }
  .about__content p {
    font-size: 1.125rem;
  }
  .about__content p:first-of-type::after {
    right: -50px;
  }
}

@media (max-width: 992px) {
  .posts {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .posts__title {
    margin-bottom: 2.625rem;

    letter-spacing: 0.1em;

    font-size: 2rem;
    line-height: 1.2em;
  }
  .posts__grid {
    grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p5 p6";
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .posts {
    padding-top: 60px;
    padding-bottom: 60px;
  }
 
  .posts__grid {
    grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
    grid-template-columns: 1fr 1fr;
  }
  .posts__title {
    margin-bottom: 2.25rem;

    font-size: 1.5rem;
  }
}

@media (max-width: 575.6px) {
  .posts {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .posts__grid {
    grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
    grid-template-columns: 1fr;
  }
  .posts__title {
    margin-bottom: 2.25rem;

    text-align: center;

    font-size: 1.5rem;
  }
}
